@CHARSET "UTF-8";

body {
	margin: 0;
}

input, textarea {
	padding: 5px;
	outline: none;
}

button {
	background: white;
	border: 1px solid black;
	padding: 5px 10px;
}

button:HOVER {
	color: white;
	background: black;
}

select {
	padding: 5px 0px;
}